{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{# {% use 'bootstrap_4_layout.html.twig' %} #}

{% block stylesheets %}
    <style>
    .inside-icon{  
    position:absolute;
    margin-left:425px;
    margin-top: -134px;
}
    .inside-icon1{        
    position:absolute;
    margin-left:423px;
    margin-top: -50px;

    }


</style>
 {% endblock %}

{% block body %}
<div  style="max-width:450px;margin:auto" >
    {# {{form_widget(form)}} #}
    

 <h2>Registration</h2>
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{form_row(form.roles)}}
        {{form_row(form.address)}}
        {# render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows #}
        <div class="col-sm-8 col-sm-offset-2" id="exp_list" data-prototype="{{ form_widget(form.exp.vars.prototype)|e('html_attr') }}">
            {% for row in form.exp %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <strong>{{ row.vars.value.title }}</strong>
                    </div>
                    <div class="panel-body">
                        {{ form_row(row) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {{ form_end(form) }}
    <div class="inside-icon">
    <i class="bi bi-eye-slash" id="togglePassword"></i>
    </div>
    <div class="inside-icon1">
    <i class="bi bi-eye-slash" id="togglePassword1"></i>
    </div>
</div>    


    <div class="container"> 
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{message}}
    </div>
    {% endfor %}
    </div>
<script src="{{asset('js/app.js')}}"></script>
{# <script src="{{asset('js/exp.js')}}"></script> #}
{% endblock %}

